
<footer class="footer bg-light border-top py-4 mt-auto">
    <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-3 text-center text-md-start">
            
            <!-- Social Icons Section -->
            <div class="f-info-socials fs-4 d-flex gap-3 ms-3">
                <a href="#" class="text-dark" target="_blank"><i class="fa-brands fa-square-facebook" aria-hidden="true" ></i></a>
                <a href="https://www.instagram.com/aman_memon_143/" class="text-dark" target="_blank"><i class="fa-brands fa-square-instagram" aria-hidden="true"></i></a>
                <a href="https://in.linkedin.com/in/aman-memon-58a251352" class="text-dark" target="_blank"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
            </div>
            
            <!-- Copyright Section -->
            <div class="f-info-company text-muted small order-3 order-md-2"> 
                &copy; Wanderlust Private Limited
            </div>

            <!-- Policy Links Section -->
            <div class="f-info-links d-flex gap-3 order-2 order-md-3 mr-3">
                <a href="/privacy" class="text-decoration-none text-muted small hover-link">Privacy</a>
                <a href="/terms" class="text-decoration-none text-muted small hover-link">Terms</a>
            </div>

        </div>
    </div>
</footer>
